<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slides made Simple</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1 style="text-align: center;margin-top: 5em;"><b>Slides</b> made <b>Simple</b></h1>

    <p style="margin-left: 20%; margin-right: 20%; margin-top: 2em;">We think that creating
        slides should be fast and simple. Spend your valuable time on thinking
        about the presentation and not on coping with the presentation program.
    </p>
</div>
</body>
</html>